.headerContainer{
    text-align: center;
    padding: 40px;
    color:rgb(13, 29, 29);
    
}
.locationLabel{
    font-size: 30px;
}
.temperature{
    font-size: 60px;
    margin: 0;
}
.cielo{
    margin: 0;
}
.maxYmin{
    font-size: 5pxpx;
    margin: 0;
}
