/* .app-container {
  width: 600px;
  margin: 0 auto;
  background-color: cadetblue;
}

.hora {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightblue;
  margin: 5px;
}

.dia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: coral;
  margin: 5px;
} */
